<h1>{{title}}</h1>
<form name="godHouseForm" novalidate>
    <input type="text" name="name" ng-model="godhouse.name" placeholder="Eg: Ganesha Aalayam" required/>
    <br/>
    <input type="text" name="religion" ng-model="godhouse.religion" placeholder="Eg: Hindu" required/>
    <br/>
    <input type="text" name="area" ng-model="godhouse.area" placeholder="Eg: Jayanagar" required/>
    <br/>
    <input type="submit" ng-click="createGodHouse()" ng-disabled="godHouseForm.name.$dirty && godHouseForm.name.$invalid && godhouseForm.name.$error.required || godHouseForm.religion.$dirty && godHouseForm.religion.$invalid || godHouseForm.area.$dirty && godHouseForm.area.$invalid" />
</form>
